input{
    width: 45%;
    border: 1px solid blue;
    outline-width: 0;
    height: 40px;
    margin: 20px;
    padding-left: 15px;
    border-radius: 35px;
}

button{
    margin: 0 5px 10px 5px;
    width: 15%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid blue;
}
button:hover{
    width: 15%;
    height: 40px;
    margin: 0 5px 10px 5px;
    border-radius: 20px;
    border: 1px solid blue;
    box-shadow: 4px 4px 8px 4px #888888;
}